<div class="my-header">
  <h1
    class="text-center my-header"
    style="font-family: 'Arial Black'">Welcome to Rock-Paper-Scissors game!</h1>
</div>
<br>
<br>
<div class="my-container">
  <div>
    <div class="row my-container">
      <div class="score-board">
        <div class="badge" id="user-label">User</div>
        <div class="badge" id="comp-label">Comp</div>
        <span id="user">{{ result.getResult()[0] }}</span><span>:</span><span id="comp">{{ result.getResult()[1] }} </span>
      </div>
      <p class="my-font text-center">{{ game.messageOut }}</p>
    </div>
  </div>
  <br>
  <br>
  <div>
    <div class="row text-center">
      <div class="col-xs-12">
        <img
          class="choice"
          (click)="onClick('paper')"
          id="paper"
          src="/assets/images/paper.png"
          width="100"
          height="100">
        <img
          class="choice"
          (click)="onClick('rock')"
          id="rock"
          src="assets/images/rock.png"
          width="100"
          height="100">
        <img
          class="choice"
          (click)="onClick('scissors')"
          id="scissors"
          src="/assets/images/scissors.png"
          width="100"
          height="100">
      </div>
      <span class="my-font">Make your move!</span>
      <h1 class="my-font">Comp choice:</h1>
      <div
        class="col-xs-12"
        [ngSwitch]="game.compChoice">
        <img
          src="/assets/images/paper.png"
          alt="paper"
          height="150"
          width="150"
          *ngSwitchCase="1">
        <img
          src="/assets/images/rock.png"
          alt="rock"
          height="150"
          width="150"
          *ngSwitchCase="2">
        <img
          src="/assets/images/scissors.png"
          alt="scissors"
          height="150"
          width="150"
          *ngSwitchCase="3">
      </div>
    </div>
  </div>
</div>
