.my-container {
  background-color: black;
  margin-bottom: auto;
}

.my-header {
  background-color: white;
  margin: 0;
  padding: 0;
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  width: 200px;
  color: white;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
  padding: 15px 20px;
  position: relative;
}

.badge {
  background-color: #E2584D;
  color: white;
  font-size: 14px;
  padding: 2px 20px;
}

#user-label {
  position: absolute;
  top: 35px;
  left: -40px;
}

#comp-label {
  position: absolute;
  top: 35px;
  right: -45px;
}

.my-font {
  color: white;
  font-family: "Arial Black";
  size: 10px;
  bottom: 30px;
}

.choice {

  background-color: black;
  border: 4px solid white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  padding: 10px;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  color: red;
  border-radius: 50%;
}

.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
  border-radius: 50%;
}

.red-glow {
  border: 4px solid red;
  box-shadow: 0 0 10px maroon;
  border-radius: 50%;
}

.gray-glow {
  border: 4px solid lightslategray;
  box-shadow: 0 0 10px gray;
  border-radius: 50%;
}
