/* You can add global styles to this file, and also import other style files */
html {
  background-color: black;
}

app-view {
  background-color: black;
}
app-root {
  background-color: black;
}
.my-container {
  background-color: black;
}
